<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key ="TimerValue" value="9999999"/>
    <add key ="DelayValue" value="5"/>
    <add key ="CustomerId" value="Kunal Vaibhav"/>
    <add key ="RegistryDate" value="17.02.2021"/>
  </appSettings>
</configuration>