<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PythonPath" value="D:\AppStore\StudySofta\ML\anaconda3\python.exe"/>
		<add key="ScriptPath" value="Scripts\ExtractImageFrames.py"/>
		<add key="InputFile" value="D:\StudyTime\ProgrammingWorld\CodeZone\Development\AI_ML\Python\PressureGaugeReader\Kaggle_Dataset\1 Training videos\data from videos\out2\out2_test.mp4"/>
		<add key="OutputDir" value="D:\StudyTime\ProgrammingWorld\CodeZone\Development\AI_ML\Python\PressureGaugeReader\Data2"/>
		<add key="OutputFilePrefix" value="img"/>
		<add key="OutputFileNumberingFormat" value="XXXX"/>
		<add key="OutputFileExtn" value=".jpg"/>
		<add key="OutputSubDir" value="ExtractedImages"/>
		<add key="BackupSubDir" value="ExtractedImages_Backup"/>
		<add key="ShowBackupDialog" value="true"/>
	</appSettings>
</configuration>