<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PythonPath" value="D:\AppStore\StudySofta\ML\anaconda3\python.exe"/>
		<add key="ScriptPath" value="D:\StudyTime\ProgrammingWorld\CodeZone\Development\AI_ML\Python\ExtractImageFrames.py"/>
		<add key="InputFile" value="D:\StudyTime\ProgrammingWorld\CodeZone\Development\AI_ML\Python\Pressure Gauge Reader\Data\1 Training videos\data from videos\out2\out2_train.mp4"/>
		<add key="OutputDir" value="D:\StudyTime\ProgrammingWorld\CodeZone\Development\AI_ML\Python\"/>
		<add key="OutputFileExtn" value=".jpg"/>
		<add key="OutputSubDir" value="ExtractImageFrames"/>
	</appSettings>
</configuration>